/*Prime elements*/
html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f3f3f3;
  color: black;
  scroll-behavior: smooth;

}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #000;
  text-align: left;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;

}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  z-index: 10;
}

p {
  font-family: 'Monda', sans-serif;
  text-align: left;
  font-size: 13px;
  line-height: 2;
  color: black;
}



button {
vertical-align: middle;
float: right;


}
/*Custom Cursor*/

.cursor {
  width: 25px;
  height: 25px;
  border: 1.5px solid #808080	;
  border-radius: 50%;
  position: absolute;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.expand {
  animation: cursorAnim .5s forwards;
  border: 1.5px solid #808080	;
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

#wrapper{
  width: 100vw;
  height: 100vh;
}



.load-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}
/*header nav*/


#header {
  padding: 3% 10% 0% 10%;
  z-index: -1;

}

.nav {
  float: right;
  padding-right: 10%;


}

.nav li {
  display: inline;
  padding: 5px;
  mix-blend-mode: difference;

}

.nav li a {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  float: right;

}

.nav li a:hover {
  text-decoration: underline;
}

/*section 1: intro*/
#section1 {
  padding: 0% 10% 0% 10%;
  color: #f3f3f3;

}

.container1a{
    padding-left: 0;
    padding-right: 5%;
}
.container1b {
  padding-left: 2%;
  padding-right: 5%;
}

.introtext {
  padding: 5% 0%;
}
.introtext p {
  color: black;
  text-align: justify;
  font-size: 15px;
}
span.logointro{
  display:inline-block;
  font-weight:lighter;
  text-decoration: underline;
}
.leftIntro {
padding-top: 2%;

}

.rowhead{
  float:right;
}
.newnav {
  font-family: 'Roboto'
  padding: 5px;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
}

.newnav li{
    display: inline;
    text-align: left;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;

}

.newnav {
  font-family: 'Roboto'
  padding: 5px;
  font-size: 1.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
}

.newnav li{
    display: inline;
    text-align: left;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;

}

.newnav li a {
    display: inline;
    padding: 5px;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;

}

.newnav li a:hover {
  text-decoration: line-through;
  color: white;
}

/* overlaymenu */

.navbutton{
  position: absolute;
  left:85%;
  top: 50px;
  float: right;
  color: black;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}





.logo1{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;

}

.logo1 a {
  font-family: 'Roboto'
  padding: 5px;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;

}
.logo1 a:hover{
  font-family: 'Roboto'
  padding: 5px;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
  text-decoration: none;
}


#clock{
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  color: darkgrey;

}
#messenger {
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
  line-height: 1;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(#000, 0.9);
}

.messengerholder {
  height: 48px;
}

.arrow{
  color:black;
  font-weight:lighter;
}

.arrowup{
  color:darkgrey;
  font-weight:lighter;
  text-align:right;
  float: right;
  position: fixed;
  bottom:0;

}

/* Progress bar */
.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: darkgrey;

  width: 0%;

}

/*section 2 Big Yellow Text*/

#section2{
  padding: 5% 10%;

}
.content4left{
  padding: 0;
}
.content4left h4{
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: #ffcc00;
  font-size: 4rem;
  text-align: justify;

}



/* .sidebarright {
  position: fixed;
  position: -webkit-sticky;
  top:300px;
  right:-800px;
  margin-right:800px;
  font-weight: bold;
  transform: rotate(90deg);
  z-index:-1;
  opacity: 0.8;

} */

/* Section 3 services */

#section3 {
padding: 0% 10% 5% 10%;
}

.services1a {
  padding-top: 20px;
  padding-left: 0;
}

.services1b {
  padding-top: 20px;
}

.servicehead{
  padding-left: 0px;
}
.servicetext {
padding-bottom:5%;
}
.servicetext p {
  color: black;
  text-align: justify;
  font-size: 15px;
}

#section4{
  padding: 2% 10%;
  margin-bottom: 50px;
}

.photorow{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}



/* Create two equal columns that sits next to each other */
.photocolumn {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;


}


.photocolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.photorow{
  cursor: url('../images/mcursor.png'), auto;

}

.photorow a:link{
  cursor: url('../images/cursorpoint.png'), auto;

}

.photorow:hover{
  cursor: url('../images/mcursor.png'), auto;

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photocolumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photocolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}





#section5{
  padding: 2% 8%;
}

#section5 a{
    color: darkgrey;
    text-decoration: underline;
    background-color: transparent;

}
.contacttext h4{
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color:darkgrey;
  font-size: 4rem;
  text-align: justify;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;

}





/* footer section */

#footer {
  z-index:1;
  padding: 1% 8%;
}

.footcontainer{

}

#footer p{
  font-family: 'Roboto', sans-serif;
  color:darkgrey;
  font-size: 0.8rem;
  line-height: 1.2;


}

#footer li {
  padding: 10px;
}

#footer li a{
  font-family: 'Monda', sans-serif;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5;
  color:darkgrey;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: none;
  -webkit-text-fill-color: none;
  text-decoration: none;

}
.companyinfo{
  margin-left: 500px;
}
.companyinfo p{
  font-family: 'Monda', sans-serif;
  color:darkgrey;
  font-size: 0.8rem;
  line-height: 1.2;
}



/*singlepages*/
#project{
  width: 100%;
  height: 100vh;
  overflow: auto;
  white-space: nowrap;
}

.projectInfo {
  padding: 2% ;
  white-space:normal;
}

.projectInfo p {
  font-size: 0.7rem;
  text-align:inherit;
  line-height: 1.5;

}

.projectContent{
  overflow: auto;
  white-space: nowrap;
}

.imageslider{
  padding-top:5%;
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}


@media only screen and (max-width: 812px) and (min-width: 320px) {

  #project{
    overflow-x: hidden;
    max-width: auto;
  }

  .projectInfo {
    padding: 20px;
  }

.imageslider {
  padding:2%;
  width: auto;
  height: auto;
  white-space: normal;
  max-width: 100%;
overflow-x: hidden;
}

.projectImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  max-width: 100%;
  height:auto;
}
}

.return{
  position: fixed;
  display:inline-block;
  top:90vh;
  left:50%;

}


.office ul{
  float:right;
  padding-left:0;
}


.footnav {
  padding-left: 0;

}

.footnav li {
  font-size:8px;
  display: inline;
  padding: 5px;

}

.footnav li a {
  font-size:8px;
  color: black;
  font-size: 1rem;
  text-decoration: none;


}


/*Media Queries*/
@media only screen and (max-width: 812px) and (min-width: 320px) {
  p {
    font-size: 12px;
    line-height: 1.5;
  }

  h3 {
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: black;
    -webkit-text-stroke-width: remove;
    -webkit-text-stroke-color: remove;
    -webkit-text-fill-color: remove;

  }

  h1{
    font-size: 1.5rem;
  }

  a {
    margin:0;
    text-decoration: none;
  }
  .nav {
    display: none;
  }

  .cursor {
    display:none;
  }
  #section1{
  }

  .container1b {
    padding-left: 0;
    padding-right: 0;
  }
  .container1 p{
    text-align: left;
    font-size: 12px;
    text-align: inherit;
    letter-spacing: 0.05rem;
    font-weight:normal;
  }

  .logo1{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom:0;
    text-decoration: none;



  }

  .logo1 a{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:0;
    text-decoration: none;

  }



  .rowhead{
    position: absolute;
    top:10px;
    right: 50px;
    float:right;
  }


.navbutton{
  position: absolute;
  right:50px;
  top: 50px;
  float: right;
}

  #messenger{
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    left:54%;
  }

  #clock{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
  }

.introtext p{
  font-size: 12px;
}





#section2{



}


.content4left h4{
  font-family: 'Roboto', sans-serif;
  color: #ffcc00;
  font-size: 2em;
  text-align: left;
  text-align: justify;
}

.conten4sub{
  font-size: 0.8rem;
}

.contacttext h4{
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: darkgrey;
  font-size: 2rem;
  text-align: justify;

}


#section3 p {
  font-size: 12px;
  line-height: 1.5;
}

.services1a {
  padding-right: 0px;
  padding-left: 0px;
}
.services1b {
  padding-top:0px;
  padding-left: 0px;
  padding-right:0px;
}

.servicetext {
padding-bottom: 2%;
padding-left:0;
}



#section5 h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-align: left;
  -webkit-text-stroke-width: remove;
  -webkit-text-stroke-color: remove;
  -webkit-text-fill-color: remove;


}

.content4sub p{
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: inherit;

}
#section6{
  padding: 5% 10% 0% 10%;
  margin-bottom: 50px;
}


.services {
  padding: 2% 5%;
  height: 100vh;
}

.services h4 {
  position: relative;
  color: #FFEF32;
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}



.services li {
  padding: 2% 15%;
  font-family: 'Monda', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #696969	;
  text-align: left;
}

.serviceA {
  margin-top: 50px;
  padding-left: 80px;
}

.serviceB {
  margin-top: 20vh;
}

a {
  display: block;
  color: lighten(skyblue, 15%);
  text-decoration: underline;
  margin: 1em auto;

  &:hover {
    cursor: pointer;
  }
}

i {
  color: white;
}

#clients {
  padding: 10% 10% 10% 10%;

}

.clientslogo {
  max-width: 60%;
}

#footer{
  font-family: 'Roboto', sans-serif;
  padding: 5%;
  font-size: 8px;
}

.footcontainer{

}

#footer p{
  font-size:10px;

}

#footer li a{
  font-family: 'Monda', sans-serif;
  text-align: left;
  font-size: 10px;
  line-height: 1.5;
  color:darkgrey;
  -webkit-text-stroke-width: none;
  -webkit-text-stroke-color: none;
  -webkit-text-fill-color: none;
  text-decoration: none;

}

.office ul{
  float: left;
  padding-left:0;
}

.footnav {
  float: left;
}

.footnav li {
  display: inline-block;

}



.contact{
  text-align: center;
}

/*Tablet Devices*/
Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  p {
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 5% 0 0 0;
  }

  h3 {
    font-size: 3rem;
  }

  h1{
    font-size: 1.5rem;
  }

  .nav {
    display: none;
  }

  .cursor {
    display:none;
  }
  #section1{

  }

  .container1 p{
    position: absolute;
    left:5%;
    padding-left:5%;
    padding-right: 5%;
    text-align: left;
    font-size: 0.8rem;
    text-align: inherit;
    letter-spacing: 0.05rem;
    font-weight:normal;
  }



.sidebar{
  display:none;
}


  #messenger{
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    left:54%;
  }

  #section2{
    padding: 5% 5% 0% 5%;

  }
  .content2{
    padding:0 3%;

  }
  .content2 p{
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: inherit;

  }

  #section3{

  }

  .content3left{
    padding-top: 10%;
  }
  .content3left p{
    font-size: 9rem;
    line-height: inherit;

  }

  .image3 {
    max-width: 100%;
    max-height: auto;
  }






.content4left h4{
  font-family: 'Roboto', sans-serif;
  color: #ffcc00;
  font-size: 1.5rem;
  text-align: left;
  text-align: justify;
}

.conten4sub{
  font-size: 0.8rem;
}




.servcesImage{
  max-width: 100%;
  max-height: auto;
}



#section5 h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  text-align: left;
  -webkit-text-stroke-width: 0.5px;

}

.content4sub p{
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: inherit;

}



.services {
  padding: 2% 5%;
  height: 100vh;
}

.services h4 {
  position: relative;
  color: #FFEF32;
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}



.services li {
  padding: 2% 15%;
  font-family: 'Monda', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #696969	;
  text-align: left;
}

.serviceA {
  margin-top: 50px;
  padding-left: 80px;
}

.serviceB {
  margin-top: 20vh;
}

a {
  display: block;
  color: lighten(skyblue, 15%);
  text-decoration: underline;
  margin: 1em auto;

  &:hover {
    cursor: pointer;
  }
}

i {
  color: white;
}

#clients {
  padding: 10% 10% 10% 10%;

}

.clientslogo {
  max-width: 60%;
}

#footer{
  font-family: 'Roboto', sans-serif;
  padding: 5%;
}
#footer p{
  padding-top: 10vh;
  font-size:1.2rem;

}

.office ul{
  float: left;
  padding-left:0;
}

.footnav {
  float: left;
}

.footnav li {
  display: inline-block;

}



.contact{
  text-align: center;
}

}
